# اسم الـ Workflow
name: CI/CD Pipeline

# متى يعمل
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# المهام
jobs:
  # مهمة البناء والدفع
  build-and-push:
    runs-on: ubuntu-latest # سيعمل على سيرفر لينكس (أوبنتو)
    steps:
      
      # 1. سحب الكود
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. إعداد بيئة Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # 3. تثبيت الاعتماديات
      - name: Install Dependencies
        run: npm install

      # 4. تشغيل الاختبارات (الوهمية)
      - name: Run Tests
        run: npm test # (هذا ينجح بسبب تعديلنا لـ "exit 0")

      # --- الخطوات الجديدة ---

      # 5. تسجيل الدخول إلى Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }} # يستخدم السر اللي حفظناه
          password: ${{ secrets.DOCKERHUB_TOKEN }}    # يستخدم التوكن اللي حفظناه

      # 6. بناء ودفع الصورة
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .   # استخدم المجلد الحالي للبناء
          push: true   # ارفع الصورة (push) بعد البناء
          # هذا هو اسم الصورة النهائي (username/repo-name:latest)
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest